<!DOCTYPE HTML>
<!--
	Elemental by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title><%=testtitle%></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<a class="logo" href="/"><strong><%=testtitle%></strong> by Kwon-Lee Brothers</a>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li>
							<a href="#">Tests</a>
							<ul>
								<li><a href="#">Login</a></li>
								<li><a href="#">Management Only</a></li>
								<li><a href="#">Notice board</a></li>
								<li>
									<a href="#">판도라의 상자</a>
									<ul>
										<li><a href="http://cdn.akamai.steamstatic.com/steam/apps/334660/ss_8d26d27426fdfe46b252cb21bcdcbde64c44fb3d.600x338.jpg?t=1447365350">?</a></li>
										<li><a href="http://static.zerochan.net/Ahri.full.1588151.jpg">?!</a></li>
										<li><a href="https://blogjob.com/oneangrygamer/files/2016/02/Image11-1-585x300.jpg">?!?</a></li>
										<li><a href="/ahri">!!!!?!!?!</a></li>
									</ul>
								</li>
								<li class="active"><a href="/readertest">Book Reader Test</a></li>
							</ul>
						</li>
						<li><a href="demo">Demo</a></li>
					</ul>
				</nav>
			</div>

		<!-- Main -->
			<div id="main">

				<!-- Header -->
					<header>
						<h1>PDF Reader Test</h1>
					</header>

				<!-- Content -->
						<section>
							<h2>Book Reader Test</h2>
							<form method="get" action="readertest">
								
								<div class="row uniform">
									<div class="12u$">
										<label for="book-list">책 목록</label>
										<div class="select-wrapper">
											<select name="booklist" id="book-list">
												<option value="0">-</option>
												<%- booklist %>
											</select>
										</div>
									</div>

									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="책 보기" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>

						<section id="pdf" class="wrapper special">
							<h2>PDF</h2>
							<iframe style="width:100%; height:1300px" src="<%=bookurl%>">책이 보이지 않는다면 클릭하세요 : <a href="<%=bookurl%>">책 보기</a></iframe>
	<!--						<object data="<%=bookurl%>" type="application/pdf" style="width:100%; height:1300px">
							책이 보이지 않는다면 클릭하세요 : <a href="<%=bookurl%>">책 보기</a>
							</object>
						</section>
-->

			</div>

		<!-- Footer -->
			<div id="footer">
				<h2>Get in touch</h2>
				<p>We probably won't get back to you.</p>
				<ul class="major-icons">
					<li>
						<h3 class="icon fa-phone major"><span class="label">Phone</span></h3>
						<p>010-7248-1535<br>권태형 번호 읎다</p>
					</li>
					<li>
						<h3 class="icon fa-map major"><span class="label">Address</span></h3>
						<p>사무실 하나 차려줘<br />
						NY, United States (뻥)</p>
					</li>
					<li>
						<h3 class="icon fa-envelope major"><span class="label">Email</span></h3>
						<p><a href="http://xkcd.com">mark3236@naver.com</a>
						<br><a href="http://xkcd.com">dennisthkwon@gmail.com</a>
						</p>
					</li>
				</ul>
				<ul class="joined-icons">
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				</ul>
				<p class="copyright">&copy; Kwon-Lee Brothers. All rights reserved.</p>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>